* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Lato, sans-serif;
  background-image: linear-gradient(90deg, #000000, #912323, #33ab1b, #000000, #912323);
  font-size: 170% !important;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.login {
    display: flex;
  text-align: center;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border: 5px solid #00000050;
    background-color: #232a918a
}

.username,
.password,
.email {
  width: 100%;
  padding: 3px;
  margin: 0 auto;
  margin-top: 1rem;
  border: 2px #00000050 solid;
  line-height: 1rem;
}

.btn {
  background-color:  #33ab1b;
  width: 100%;
  height: 1.5rem;
  align-self: center;
  margin: 1rem;border: 2px #00000050 solid;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
}

h1{
  color: white;
  font-size: 40px;
}

.signup, .forgot-password {
  color: white;
  font-size: 0.5rem;
  margin: 0.2rem;
  
}

.btn:hover,
.btn:active {
  background-color: #7D349a70;
}